<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="create.dao.system.GroupRightRelationMapper">
	<resultMap id="BaseResultMap"
		type="create.model.system.GroupRightRelation">
		<id column="tgr_id" property="tgrId" jdbcType="INTEGER" />
		<result column="tg_id" property="tgId" jdbcType="INTEGER" />
		<result column="tr_id" property="trId" jdbcType="INTEGER" />
		<result column="right_type" property="rightType"
			jdbcType="INTEGER" />
		<result column="createtime" property="createtime"
			jdbcType="DATE" />
		<result column="createby" property="createby"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		tgr_id, tg_id, tr_id, right_type, createtime, createby
	</sql>
	<!--所属权限数量-->
	<select id="belongRightCounts" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM tgrouprightrelation where right_type=0
		<if test="tgId != null">
			and tg_id = #{tgId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tgrouprightrelation where tgr_id =
		#{tgrId,jdbcType=INTEGER}
	</select>

	<select id="selectByGroupRightRelationByMap"
		resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tgrouprightrelation where right_type=0
		<if test="tgId != null">and tg_id=#{tgId,jdbcType=INTEGER}</if>
		<if test="trId != null">and tr_id=#{trId,jdbcType=INTEGER}</if>
		<if test="rightType != null">and right_type = {rightType,jdbcType=INTEGER}</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tgrouprightrelation where tgr_id =
		#{tgrId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="create.model.system.GroupRightRelation">
		insert into tgrouprightrelation (tgr_id, tg_id, tr_id,
		right_type, createtime, createby ) values
		(#{tgrId,jdbcType=INTEGER}, #{tgId,jdbcType=INTEGER},
		#{trId,jdbcType=INTEGER}, #{rightType,jdbcType=INTEGER},
		#{createtime,jdbcType=DATE}, #{createby,jdbcType=INTEGER} )
	</insert>
	<insert id="insertSelective"
		parameterType="create.model.system.GroupRightRelation">
		insert into tgrouprightrelation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tgrId != null">tgr_id,</if>
			<if test="tgId != null">tg_id,</if>
			<if test="trId != null">tr_id,</if>
			<if test="rightType != null">right_type,</if>
			<if test="createtime != null">createtime,</if>
			<if test="createby != null">createby,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tgrId != null">#{tgrId,jdbcType=INTEGER},</if>
			<if test="tgId != null">#{tgId,jdbcType=INTEGER},</if>
			<if test="trId != null">#{trId,jdbcType=INTEGER},</if>
			<if test="rightType != null">
				#{rightType,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=DATE},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="create.model.system.GroupRightRelation">
		update tgrouprightrelation
		<set>
			<if test="tgId != null">
				tg_id = #{tgId,jdbcType=INTEGER},
			</if>
			<if test="trId != null">
				tr_id = #{trId,jdbcType=INTEGER},
			</if>
			<if test="rightType != null">
				right_type = #{rightType,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=DATE},
			</if>
			<if test="createby != null">
				createby = #{createby,jdbcType=INTEGER},
			</if>
		</set>
		where tgr_id = #{tgrId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeySelectiveByMap"
		parameterType="java.lang.Integer">
		update tgrouprightrelation
		<set>
			<if test="right_type != null">
				right_type = #{right_type,jdbcType=INTEGER}
			</if>
		</set>
		where tr_id = #{trid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="create.model.system.GroupRightRelation">
		update tgrouprightrelation set tg_id = #{tgId,jdbcType=INTEGER},
		tr_id = #{trId,jdbcType=INTEGER}, right_type =
		#{rightType,jdbcType=INTEGER}, createtime =
		#{createtime,jdbcType=DATE}, createby =
		#{createby,jdbcType=INTEGER} where tgr_id =
		#{tgrId,jdbcType=INTEGER}
	</update>
</mapper>