<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

<div style="background:url(top.jpg) no-repeat; height:100px; width:100%;" > 
<img src="createlogo.png" width="100" height="100"  style="padding-left:30px; float:left;"  />
<span style="margin-left:50px;  font-size:30px; line-height:100px; color:#FFF; text-shadow:#333 5px 5px 10px;" font-family:'宋体', Times, serif;  >柯锐特信息系统平台</span>

</div>
</body>
</html>
