<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="create.dao.crm.CustomerBankInfroMapper">
	<resultMap id="BaseResultMap"
		type="create.model.crm.CustomerBankInfro">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="customerId" property="customerid"
			jdbcType="INTEGER" />
		<result column="bankName" property="bankname"
			jdbcType="VARCHAR" />
		<result column="customerBank" property="customerbank"
			jdbcType="VARCHAR" />
		<result column="beizhu" property="beizhu" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="isdeleted" property="isdeleted" jdbcType="CHAR" />
		<result column="deletedby" property="deletedby"
			jdbcType="VARCHAR" />
		<result column="deletetime" property="deletetime"
			jdbcType="TIMESTAMP" />
		<result column="createdby" property="createdby"
			jdbcType="VARCHAR" />
		<result column="createtime" property="createtime"
			jdbcType="TIMESTAMP" />
		<result column="lastmodify" property="lastmodify"
			jdbcType="VARCHAR" />
		<result column="lastmodifytime" property="lastmodifytime"
			jdbcType="TIMESTAMP" />
		<result column="ATT1" property="att1" jdbcType="VARCHAR" />
		<result column="ATT2" property="att2" jdbcType="VARCHAR" />
		<result column="ATT3" property="att3" jdbcType="VARCHAR" />
		<result column="ATT4" property="att4" jdbcType="VARCHAR" />
		<result column="ATT5" property="att5" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, customerId, bankName, customerBank, beizhu, account,
		isdeleted, deletedby, deletetime, createdby, createtime,
		lastmodify, lastmodifytime, ATT1, ATT2, ATT3, ATT4, ATT5
	</sql>
	<select id="searchCustomerBankByProperty" resultMap="BaseResultMap"
		parameterType="create.model.crm.CustomerBankInfro">
		select
		<include refid="Base_Column_List" />
		from customerbankinfro WHERE 1=1
		<if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
		<if test="customerid != null">
			and customerid = #{customerid,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customerbankinfro where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from customerbankinfro where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="create.model.crm.CustomerBankInfro">
		insert into customerbankinfro (id, customerId, bankName,
		customerBank, beizhu, account, isdeleted, deletedby, deletetime,
		createdby, createtime, lastmodify, lastmodifytime, ATT1, ATT2,
		ATT3, ATT4, ATT5) values (#{id,jdbcType=INTEGER},
		#{customerid,jdbcType=INTEGER}, #{bankname,jdbcType=VARCHAR},
		#{customerbank,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR}, #{isdeleted,jdbcType=CHAR},
		#{deletedby,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP},
		#{createdby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
		#{lastmodify,jdbcType=VARCHAR},
		#{lastmodifytime,jdbcType=TIMESTAMP}, #{att1,jdbcType=VARCHAR},
		#{att2,jdbcType=VARCHAR}, #{att3,jdbcType=VARCHAR},
		#{att4,jdbcType=VARCHAR}, #{att5,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="create.model.crm.CustomerBankInfro">
		insert into customerbankinfro
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="customerid != null">customerId,</if>
			<if test="bankname != null">bankName,</if>
			<if test="customerbank != null">customerBank,</if>
			<if test="beizhu != null">beizhu,</if>
			<if test="account != null">account,</if>
			<if test="isdeleted != null">isdeleted,</if>
			<if test="deletedby != null">deletedby,</if>
			<if test="deletetime != null">deletetime,</if>
			<if test="createdby != null">createdby,</if>
			<if test="createtime != null">createtime,</if>
			<if test="lastmodify != null">lastmodify,</if>
			<if test="lastmodifytime != null">lastmodifytime,</if>
			<if test="att1 != null">ATT1,</if>
			<if test="att2 != null">ATT2,</if>
			<if test="att3 != null">ATT3,</if>
			<if test="att4 != null">ATT4,</if>
			<if test="att5 != null">ATT5,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="customerid != null">
				#{customerid,jdbcType=INTEGER},
			</if>
			<if test="bankname != null">
				#{bankname,jdbcType=VARCHAR},
			</if>
			<if test="customerbank != null">
				#{customerbank,jdbcType=VARCHAR},
			</if>
			<if test="beizhu != null">#{beizhu,jdbcType=VARCHAR},</if>
			<if test="account != null">#{account,jdbcType=VARCHAR},</if>
			<if test="isdeleted != null">
				#{isdeleted,jdbcType=CHAR},
			</if>
			<if test="deletedby != null">
				#{deletedby,jdbcType=VARCHAR},
			</if>
			<if test="deletetime != null">
				#{deletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdby != null">
				#{createdby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastmodify != null">
				#{lastmodify,jdbcType=VARCHAR},
			</if>
			<if test="lastmodifytime != null">
				#{lastmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="att1 != null">#{att1,jdbcType=VARCHAR},</if>
			<if test="att2 != null">#{att2,jdbcType=VARCHAR},</if>
			<if test="att3 != null">#{att3,jdbcType=VARCHAR},</if>
			<if test="att4 != null">#{att4,jdbcType=VARCHAR},</if>
			<if test="att5 != null">#{att5,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="create.model.crm.CustomerBankInfro">
		update customerbankinfro
		<set>
			<if test="customerid != null">
				customerId = #{customerid,jdbcType=INTEGER},
			</if>
			<if test="bankname != null">
				bankName = #{bankname,jdbcType=VARCHAR},
			</if>
			<if test="customerbank != null">
				customerBank = #{customerbank,jdbcType=VARCHAR},
			</if>
			<if test="beizhu != null">
				beizhu = #{beizhu,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="isdeleted != null">
				isdeleted = #{isdeleted,jdbcType=CHAR},
			</if>
			<if test="deletedby != null">
				deletedby = #{deletedby,jdbcType=VARCHAR},
			</if>
			<if test="deletetime != null">
				deletetime = #{deletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdby != null">
				createdby = #{createdby,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastmodify != null">
				lastmodify = #{lastmodify,jdbcType=VARCHAR},
			</if>
			<if test="lastmodifytime != null">
				lastmodifytime = #{lastmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="att1 != null">
				ATT1 = #{att1,jdbcType=VARCHAR},
			</if>
			<if test="att2 != null">
				ATT2 = #{att2,jdbcType=VARCHAR},
			</if>
			<if test="att3 != null">
				ATT3 = #{att3,jdbcType=VARCHAR},
			</if>
			<if test="att4 != null">
				ATT4 = #{att4,jdbcType=VARCHAR},
			</if>
			<if test="att5 != null">
				ATT5 = #{att5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="create.model.crm.CustomerBankInfro">
		update customerbankinfro set customerId =
		#{customerid,jdbcType=INTEGER}, bankName =
		#{bankname,jdbcType=VARCHAR}, customerBank =
		#{customerbank,jdbcType=VARCHAR}, beizhu =
		#{beizhu,jdbcType=VARCHAR}, account =
		#{account,jdbcType=VARCHAR}, isdeleted =
		#{isdeleted,jdbcType=CHAR}, deletedby =
		#{deletedby,jdbcType=VARCHAR}, deletetime =
		#{deletetime,jdbcType=TIMESTAMP}, createdby =
		#{createdby,jdbcType=VARCHAR}, createtime =
		#{createtime,jdbcType=TIMESTAMP}, lastmodify =
		#{lastmodify,jdbcType=VARCHAR}, lastmodifytime =
		#{lastmodifytime,jdbcType=TIMESTAMP}, ATT1 =
		#{att1,jdbcType=VARCHAR}, ATT2 = #{att2,jdbcType=VARCHAR}, ATT3
		= #{att3,jdbcType=VARCHAR}, ATT4 = #{att4,jdbcType=VARCHAR},
		ATT5 = #{att5,jdbcType=VARCHAR} where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>