<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="create.dao.system.UserGroupRelationMapper">
	<resultMap id="BaseResultMap"
		type="create.model.system.UserGroupRelation">
		<id column="tug_id" property="tugId" jdbcType="INTEGER" />
		<result column="tu_id" property="tuId" jdbcType="INTEGER" />
		<result column="tg_id" property="tgId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">tug_id, tu_id, tg_id</sql>

	<select id="findUserGroupRelation" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT distinct tg_id FROM tusergrouprelation where tu_id =
		#{tuId,jdbcType=INTEGER}
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tusergrouprelation where tug_id = #{tugId,jdbcType=INTEGER}
	</select>
	<select id="selectByProperty" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tusergrouprelation where 1 = 1
		<if test="tugId!=null">
			and tug_id = #{tugId,jdbcType=INTEGER}
		</if>
		<if test="tuId != null">
			and tu_id = #{tuId,jdbcType=INTEGER}
		</if>
		<if test="tgId != null">
			and tg_id = #{tgId,jdbcType=INTEGER}
		</if>
	</select>

	<select id="selectByUserGroupRelationByParamMap"
		resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tusergrouprelation
		<where>
			<if test="tugId!=null">
				and tug_id = #{tugId,jdbcType=INTEGER}
			</if>
			<if test="tuId != null">
				and tu_id = #{tuId,jdbcType=INTEGER}
			</if>
			<if test="tgId != null">
				and tg_id = #{tgId,jdbcType=INTEGER}
			</if>
		</where>

	</select>

	<delete id="deleteByProperyMap" parameterType="java.lang.Integer">
		delete from tusergrouprelation 
		<where>
			<if test="tugId!=null">
				and tug_id = #{tugId,jdbcType=INTEGER}
			</if>
			<if test="tuId != null">
				and tu_id = #{tuId,jdbcType=INTEGER}
			</if>
			<if test="tgId != null">
				and tg_id = #{tgId,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
	<delete id="deleteByRoleID" parameterType="java.lang.Integer">
		delete from tusergrouprelation where tg_id =
		#{tgId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="create.model.system.UserGroupRelation">
		insert into tusergrouprelation (tug_id, tu_id, tg_id ) values
		(#{tugId,jdbcType=INTEGER}, #{tuId,jdbcType=INTEGER},
		#{tgId,jdbcType=INTEGER} )
	</insert>
	<insert id="insertSelective"
		parameterType="create.model.system.UserGroupRelation">
		insert into tusergrouprelation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tugId != null">tug_id,</if>
			<if test="tuId != null">tu_id,</if>
			<if test="tgId != null">tg_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tugId != null">#{tugId,jdbcType=INTEGER},</if>
			<if test="tuId != null">#{tuId,jdbcType=INTEGER},</if>
			<if test="tgId != null">#{tgId,jdbcType=INTEGER},</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="create.model.system.UserGroupRelation">
		update tusergrouprelation
		<set>
			<if test="tuId != null">
				tu_id = #{tuId,jdbcType=INTEGER},
			</if>
			<if test="tgId != null">
				tg_id = #{tgId,jdbcType=INTEGER},
			</if>
		</set>
		where tug_id = #{tugId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="create.model.system.UserGroupRelation">
		update tusergrouprelation set tu_id = #{tuId,jdbcType=INTEGER},
		tg_id = #{tgId,jdbcType=INTEGER} where tug_id =
		#{tugId,jdbcType=INTEGER}
	</update>
</mapper>